

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
@import url('~bootstrap/dist/css/bootstrap.min.css');


.toggle-menu {
  width: 50%;
  height: 14px;
  padding-top: 0;
  padding-bottom: 0;
  border-top: 2;
  border-bottom: 2;
}

.expand-menu {
  background: url(../assets/expand.png);
  background-repeat: no-repeat;
  background-position: center;
}
.contract-menu {
  background: url(../assets/contract.png);
  background-repeat: no-repeat;
  background-position: center;
}

.save-button {
  border-width: 1;
  border-color: black;
  font-size: 32px;
  background: none;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  display: grid;
}

.terminal-button {
  position: absolute;
  right: 0px;
  width: 38px;
  height: 38px;
}

.toolbar-row {
  margin-bottom: 0;
  height: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.toolbar {
  top: 14px;
  width: 100%;
}

.power-toggle-button {
  background-image: url(../assets/power.png);
  width: 100%;
  height: 100%;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.bookmark {
  font-size: 24px;
}

.save-btn {
  position: absolute;
  right: 44px;
}

.toolbar-input {
  padding: 0;
}

.tn3270-parent {
  background-color: #d6d6d6;
}

.tn3270 {
  background-color: #000;
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.error-label {
  font-weight: 900;
  color: #bf3030;
  margin-left: 15px;
}

.key-sequence {
  margin-top: 1px;
  margin-left: 15px;
  font-weight: bolder;
}

.key-sequence-action {
  color: black;
}

.key-sequence-menu {
  color: green;
}

.key-sequence-warning {
  color: orangered;
}

.key-sequence-action:hover {
  background: darkgray;
}

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

